.row
  %div{:class=>"panel callout radius"}
    %h1 Obrigado, mas você já respondeu a nossa pesquisa.
    %hr
    %a{:href=>"http://www.cesed.br", :class=>"large button expand round success"} Voltar ao Site Principal