.row
  %div{:class=>"panel callout radius"}
    %h1 Suas respostas foram registradas, obrigado.
    %hr
    %a{:href=>"http://www.cesed.br", :class=>"large button expand round success"} Voltar ao Site Principal